<div class="pill-header">
    <!-- Left Section -->
    <div>
        <button><i class="iconoir iconoir-undo-circle"></i>
            <span class="button-label">Undo</span>
        </button>
        <button><i class="iconoir iconoir-redo-circle"></i>
            <span class="button-label">Redo</span>
        </button>
    </div>

    <!-- Middle Section -->
    <div>
        <button #optionsButton (click)="onOptionsClicked()">
            <i (click)="onOptionsClicked()" class="iconoir iconoir-plus-circle"></i>
        </button>
        <div #optionsDropdown id="options-dropdown">
            <a href="#">Add a Wall</a>
            <a href="#">Add a Door</a>
            <a href="#">Add a Window</a>
        </div>

        <button>
            <i class="iconoir iconoir-one-point-circle"></i>
            <span class="button-label">Snap to point</span>
        </button>


    </div>

    <!-- Right Section -->
    <div>
        <button><i class="iconoir iconoir-share-ios"></i>
            <span class="button-label">Share</span>
        </button>
    </div>
</div>