@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.pill-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--borders-color);
    height: 100%;
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.pill-header .left-section,
.pill-header .middle-section,
.pill-header .right-section {
    display: flex;
    flex-direction: row;
}

.pill-header .left-section {
    display: flex;
    align-items: center;
    flex-direction: row;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 35px;
    height: 35px;
    background-color: var(--transparent);
    border-radius: 30px;
    padding: 0;
    border: 0 solid var(--borders-color);
    transition: background-color 0.3s ease; /* Add a smooth transition effect */

}

button:hover {
    background-color: var(--button-hover-color);
    border: 0 solid var(--borders-color);

}

.active {
    background-color: var(--button-hover-color);
    border: 0 solid var(--borders-color);
}

.disabled i {
    color: var(--borders-color);
}

.iconoir {
    font-size: 35px;
    color: var(--icon-color);
    transition: all 0.5s ease-in-out;
}

.display-none {
    display: none;
}

.wall-thickness-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
    padding: 5px 10px;
    color: var(--font-color);
    background-color: var(--button-hover-color);
    margin: 0 5px;
}

.wall-thickness-container i {
    font-size: 25px;
    transition: all 0.5s ease-in-out;
}

.wall-thickness-container input {
    background-color: var(--transparent);
    border-radius: 30px;
    border: 2px solid var(--borders-color);
    padding: inherit;
    font-family: 'Poppins', sans-serif;
    width: 50px;
    color: var(--font-color);
    transition: all 0.5s ease-in-out;
}

.wall-thickness-container i {
    margin-right: 5px;
}


.button-label {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--labels-color);
    font-size: smaller;
}


/* Show the label on hover */
button:hover .button-label {
    opacity: 1;
}

.logo-img {
    filter: var(--logo-filter);
    margin-left: 10px;
    height: 47px;
    width: auto;
    transition: all 0.5s ease-in-out;
}

.vertical-line {
    width: 2px;
    height: 40px;
    background-color: var(--button-hover-color);
}

.angle-snap-container {
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}

.angle-snap-container select {
    padding: 0px 5px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--button-hover-color);
    border-radius: 50px;
    border: 0px;
}