<div id="myHeader" class="pill-header">
    <!-- Left Section -->
    <div class="left-section">
        <button (click)="undo()" [class.disabled]="undoDisabled()"><i class="iconoir iconoir-undo-circle"></i>
            <span class="button-label">Undo</span>
        </button>
        <button (click)="redo()" [class.disabled]="redoDisabled()"><i class="iconoir iconoir-redo-circle"></i>
            <span class="button-label">Redo</span>
        </button>
        <img class="logo-img" src="assets/logo.png" alt="Digital Blu Logo"/>
    </div>

    <div class="vertical-line"></div>

    <div class="middle-section">
        <button [class.active]="modesConfiguration.grabMode" (click)="switchGrabMode()"><i
                class="iconoir iconoir-drag-hand-gesture"></i>
            <span class="button-label">Drag mode</span>
        </button>

        <button [class.active]="modesConfiguration.cursorMode" (click)="switchCursorMode()"><i
                class="iconoir iconoir-cursor-pointer"></i>
            <span class="button-label">Cursor mode</span>
        </button>

    </div>

    <div class="vertical-line"></div>


    <div class="middle-section">

        <button [class.active]="modesConfiguration.lineMode" (click)="switchLineMode()"><i
                class="iconoir iconoir-design-pencil"></i>
            <span class="button-label">Line mode</span>
        </button>


        <button [class.active]="modesConfiguration.wallMode" (click)="switchWallMode()"><i
                class="iconoir iconoir-cube"></i>
            <span class="button-label">Wall mode</span>
        </button>

        <div class="wall-thickness-container" *ngIf="modesConfiguration.wallMode">
            <i class="iconoir iconoir-de-compress"></i>
            <input type="number" id="wall-thickness-input" [(ngModel)]="lastValidThickness"
                   (input)="onInput();updateThickness($event)" min="1">

        </div>


        <button [class.active]="modesConfiguration.doorMode" (click)="switchDoorMode()"><i
                class="iconoir iconoir-closet"></i>
            <span class="button-label">Door mode</span>
        </button>


        <button [class.active]="modesConfiguration.windowMode" (click)="switchWindowMode()"><i
                class="iconoir iconoir-mirror"></i>
            <span class="button-label">Window mode</span>
        </button>
    </div>

    <div class="vertical-line"></div>

    <!-- Middle Section -->
    <div class="middle-section">
        <button [class.active]="modesConfiguration.snapMode" (click)="switchSnapMode()">
            <i class="iconoir iconoir-one-point-circle"></i>
            <span class="button-label">Snap to point</span>
        </button>

        <!--        <button [class.active]="modesConfiguration.snapMode" (click)="switchSnapMode()">-->
        <!--            <i class="iconoir iconoir-precision-tool"></i>-->
        <!--            <span class="button-label">Snap to grid</span>-->
        <!--        </button>-->

        <button [class.active]="modesConfiguration.gridOn" (click)="switchGridMode()">
            <i class="iconoir iconoir-orthogonal-view"></i>
            <span class="button-label">Display grid</span>
        </button>


    </div>

    <div class="vertical-line"></div>

    <!-- Right Section -->
    <div class="right-section">

        <button [class.active]="modesConfiguration.eraseMode" (click)="switchEraseMode() ">
            <i class="iconoir iconoir-erase"></i>
            <span class="button-label">Erase</span>
        </button>


    </div>

    <div class="vertical-line"></div>

    <!-- Right Section -->
    <div class="right-section">

        <button [class.active]="modesConfiguration.darkMode" (click)="switchDarkMode() ">
            <i class="iconoir iconoir-brightness"></i>
            <span class="button-label">Dark / Light</span>
        </button>

        <button><i class="iconoir iconoir-share-ios"></i>
            <span class="button-label">Share</span>
        </button>

        <button [class.helper]="modesConfiguration.helperOn" (click)="displayHelper()"><i
                class="iconoir iconoir-help-circle"></i>
            <span class="button-label">Help</span>
        </button>
    </div>


</div>




