.zoom-controls {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    justify-content: space-between;
    text-align: center;
    right: 3%;
    bottom: 40vh;
    border-radius: 40px;
    background-color: var(--main-bg-color);
    border: 2px solid var(--borders-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.zoom-indicator {
    color: var(--font-color);
}

.iconoir {
    font-size: 35px;
    color: var(--icon-color);
}

.default-button {
    z-index: 20;
    width: 35px;
    height: 35px;
    background-color: var(--transparent);
    border-radius: 30px;
    padding: 0;
    border: 0 solid var(--borders-color);
    transition: background-color 0.3s ease;


}

button:hover {
    background-color: var(--button-hover-color);
    border: 0 solid var(--borders-color);

}