.helper-div {
    display: none;
}


.helperOn {
    display: block;
}


.shortcut-overlay {
    transition: 1s ease-in-out;
    z-index: 200;
    position: fixed;
    top: 110px;
    right: 2%;
    color: var(--font-color);
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(5px);
    max-height: 70vh;
    overflow-x: auto;
}

.shortcut-overlay::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

.shortcut-overlay::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Color of the scrollbar track */
}

.shortcut-overlay::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0); /* Color of the scrollbar thumb */
}

.shortcut-overlay::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0); /* Color of the scrollbar thumb on hover */
}

.shortcut-header {
    text-align: left;
    margin-bottom: 10px;
}


.shortcut-icon {
    margin-right: 10px;
}


.shortcut-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--borders-color);

}

.shortcut-item:last-child {
    border-bottom: 0;
}

.shortcut-text {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.shortcut-allkeys {
    display: flex;
    flex-direction: row;

}

.shortcut-key {
    border: 1px solid;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px var(--borders-color);
}

.shortcut-title {
    font-size: 16px;
    font-weight: bold;
}

.shortcut-description {
    font-size: 12px;
    font-weight: 400;
}
