<div class="helper-div" [class.helperOn]="modesConfiguration.helperDisplayed">


    <div class="shortcut-overlay">
        <div class="shortcut-header">
            <h2>Shortcut Helper</h2>
        </div>
        <div class="shortcut-content">


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Undo
                    </div>
                    <div class="shortcut-description">
                        Undo the last action

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        Z
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Redo
                    </div>
                    <div class="shortcut-description">
                        Redo the undone action

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        Y
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Copy
                    </div>
                    <div class="shortcut-description">
                        Copy the selected element

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        C
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Paste
                    </div>
                    <div class="shortcut-description">
                        Paste the element in the clipboard

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        V
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Zoom in
                    </div>
                    <div class="shortcut-description">
                        Zoom in the canvas

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        +
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Zoom out
                    </div>
                    <div class="shortcut-description">
                        Zoom out the canvas

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        -
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Change door type
                    </div>
                    <div class="shortcut-description">
                        Press Space to change the door type on a wall

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 2">
                        space
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Change door direction
                    </div>
                    <div class="shortcut-description">
                        Press Up or Down to change the door direction on a wall

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-arrow-up"></i>
                    </div>
                    <div class="shortcut-key 2">
                        <i class="iconoir-arrow-down"></i>
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Escape
                    </div>
                    <div class="shortcut-description">
                        Stop drawing or editing

                    </div>
                </div>
                <div class="shortcut-allkeys">

                    <div class="shortcut-key 2">
                        esc
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Straight Lines and walls
                    </div>
                    <div class="shortcut-description">
                        Draw straight horizontal or vertical lines or wall while pressing shift

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-arrow-up-circle"></i>
                    </div>
                    <div class="shortcut-key 2">
                        <i class="iconoir-edit-pencil"></i>
                    </div>

                </div>


            </div>

            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Save
                    </div>
                    <div class="shortcut-description">
                        Save canvas in local cache

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        S
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>
