<div class="helper-div" [class.helperOn]="modesConfiguration.helperDisplayed">


    <div class="shortcut-overlay">
        <div class="shortcut-header">
            <h2>Shortcut Helper</h2>
        </div>
        <div class="shortcut-content">


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Copy object
                    </div>
                    <div class="shortcut-description">
                        To copy any object on the canvas

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        C
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Paste object
                    </div>
                    <div class="shortcut-description">
                        Paste an object in the clipboard on the canvas

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        V
                    </div>

                </div>
            </div>


            <div class="shortcut-item">
                <div class="shortcut-text">
                    <div class="shortcut-title">
                        Cut object
                    </div>
                    <div class="shortcut-description">
                        To copy and remove any object on the canvas

                    </div>
                </div>
                <div class="shortcut-allkeys">
                    <div class="shortcut-key 1">
                        <i class="iconoir-key-command"></i>
                    </div>
                    <div class="shortcut-key 2">
                        X
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>
