#gridCanvas {
    box-sizing: border-box;
    margin: 0;
    border-radius: 20px;
    border: 2px solid var(--borders-color);
    background-color: var(--transparent);
    width: 96vw;
    height: 84vh;
    position: absolute;
    z-index: 0;
}