#drawing-canvas {
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid var(--borders-color);
    width: 96vw;
    height: 84vh;
    position: absolute;
    margin: 0;
    z-index: 1;
}

.grab {
    cursor: url("/assets/grab-cursor.svg"), auto;
}

.cursor {
    cursor: url("/assets/cursor-cursor.svg"), auto;
}