/* You can add global styles to this file, and also import other style files */
:root {
    --main-bg-color: #f2f3f8;
    --icon-color: #000000;
    --labels-color: #3d3d3d;
    --borders-color: darkgrey;
    --button-hover-color: rgba(169, 169, 169, 0.4);
    --font-color: #000000;
    --logo-filter: none;
    --transparent: transparent;
    --grid-color: rgba(152, 152, 152, 0.55);
    --wall-color: black;
}

.dark-mode {
    --main-bg-color: #1c1c1c;
    --icon-color: #ffffff;
    --labels-color: #e0e0e0;
    --borders-color: #808080;
    --button-hover-color: rgba(128, 128, 128, 0.42);
    --font-color: #ffffff;
    --logo-filter: invert(01) hue-rotate(179deg) hue-rotate(8deg) saturate(2.5);
    --transparent: transparent;
    --grid-color: rgba(208, 208, 208, 0.55);
    --wall-color: #ffffff;

}


html {
    background-color: var(--main-bg-color);
}



